version: '3'

services:
  api:
    image: api:latest
    restart: always
    network_mode: "host"
    ports:
      - "8080:8080"
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 256M
        reservations:
          cpus: '0.25'
          memory: 128M

  nginx:
    image: nginx:latest
    restart: always
    network_mode: "host"
    volumes:
      - /usr/share/html:/usr/share/html
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 256M
        reservations:
          cpus: '0.25'
          memory: 128M
    ports:
      - "443:443"
      - "1935:1935"

  player:
    image: player:latest
    restart: always
    network_mode: "host"
    volumes:
      - ~/songs:/songs
    ports:
      - "8081:8081"
    deploy:
      resources:
        limits:
          cpus: '0.75'
          memory: 512M
        reservations:
          cpus: '1.0'
          memory: 512M
